#main_box {
display: flex;
height: 100%;
}

#left_box {
display: flex;
}

#right_box {
background-color: rgb(199, 193, 193);
}

#website_name {
font-weight: bolder;
margin-left: 15%;
margin-top: 3%;
font-size: 25px;
}

#final_project {
/* text-align: justify; */
justify-self: center;
}

#final_project h1 {
/* font-weight: bolder;
font-size: 50px;
line-height: 1.5; */
}

#final_project p {
/* line-height: 2; */
}

#final_project [type = "button"] {
font-family: 'Inter', sans-serif;
border-style: none;
background-color: rgb(199, 193, 193);
border-radius: 10px;
}

#members {
display: flex;
justify-content: space-evenly;
margin-left: 15%;
margin-right: 15%;
margin-top: 5%;
}

#members [type = "button"] {
font-family: 'Inter', sans-serif;
border-style: none;
background-color: transparent;
font-weight: bold;
font-size: 15px;
}

/* .img_1 {
position: absolute;
margin-top: 20%;
margin-left: 50%;
}

.img_1 img {
width: 125px;
border-radius: 50%;
}

.img_2 {
position: absolute;
margin-top: 10%;
margin-left: 75%;
}

.img_2 img {
border-radius: 50%;
width: 175px;
}

.img_3 {
position: absolute;
margin-top: 30%;
margin-left: 65%;
}

.img_3 img {
border-radius: 50%;
}

.img_4 {
position: absolute;
}

.img_4 img {
border-radius: 50%;
} */